.valoracion {
    color:#cacaca;
    margin-right: 8px;
}
.btn-block {
    display:block;
}
.card {
    padding: 8px;
    border-radius: 5%;
    border:1px solid;
    display:inline-block; 
    background-color:var(--blanco) ;  
               
}
.card img{
    width: 100%;
    height: 160px; 
    overflow: hidden;
}
.valoracion i{
    margin-right: 8px;
}
.m-productos h4,h5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 32px;
    color: var(--negro);
}
  .m-productos div h4, h5{
    margin: 0px;

  }
  .m-productos div h4, h5{
    margin: 0px;
  }
  .card span i:hover{
    color: var(--resalto);
  }
  .main-cards{
   display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
