.descripcion {
    display: flex;
    justify-content: space-between;
    margin-top:64px;

}
.descripcion img {
    margin-right: 64px;
    border-radius: 16px;
    width: 50%;
      
}
.descripcion .producto-desc{
    margin-top: 48px;
    width: 100%;  
      
}
.descripcion input {
    font-family: 'Inder', sans-serif;
    font-size: 16px;
    padding: 16px 1px 16px 8px;
    border-radius: 8px;
    border-color: 2px solid var(--gris);
    margin: 0px;
}
.precio {
    margin-bottom: 8px;
   color: var(--primario-oscuro)
}