footer div #logo{
    color:var(--blanco);
    
}
footer div #logo:hover{
    color:var(--resalto);
    
}
footer h3 {
    margin-top: 16px;
    
}

footer {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    
}
footer .wrap {
    display: flex;
    margin-top:16px;
    justify-content: space-between;
    align-items: center;
    
}
footer  div .logonav {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    
}

footer .logonav div {
    display: flex;
    justify-content: left;
} 

footer .logonav div ul {
    list-style-type: none;

}
footer .logonav div ul li{
    padding-top:16px;
}

footer .logonav div ul li a{
    text-decoration: none;
    list-style-type: none;
    color: var(--blanco);
    
}
footer .logonav div ul li a:hover {
    color: var(--resalto);
}
footer .menu {
    padding-left: 16px;
    margin-right: 32px;
}

